.header{
    
    background-image: -webkit-linear-gradient(red, blue);
}

.menu{
    color: orange;
    border-color: blue;
    border: 2px solid;
    overflow: hidden;
    font-size: 20px;
    max-width: 200px;
    
    
    
    
}

.menuSMALL{
    color: orange;
    border-color: blue;
    border: 2px solid;
    overflow: hidden;
    font-size: 20px;
}

.logo {
width: 200px;
height: 75px;
}
 



