.header {
    background-image: -webkit-linear-gradient(red, blue);
}

.menu {
    overflow: hidden;
    font-size: 20px;
    max-width: 200px;
}

.menuSMALL {
    border-color: blue;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
}


.corpMain {
    background-image: url("../IMAGES/mainBG.jpg");
    color: white;
    font-family: monospace;
    background-size: auto;
    background-repeat: no-repeat;
}


.grandContainer {
    margin-top: 50px;
}

.mainImages {
    color: rgb(255, 255, 255);
    border-color: blue;
    border: 2px solid;
    overflow: hidden;
    max-height: 90vh;
    max-width: 90vw;
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
}


.mainSubject {
    color: rgb(255, 255, 255);
    border-color: blue;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    overflow: hidden;
}

.logo {
    width: 75px;
    height: 75px;
}

html {
    height: 100%;
}

a:link {
    text-decoration: none;
    
    color: rgba(185, 213, 255, 0.897);
}

a:visited {
    text-decoration: none;
    color: white;
}

.leMage a:hover {
    text-decoration: none;
    color: cyan;
}

.leGuerrier a:hover {
    text-decoration: none;
    color: orange;
}

.leVoleur a:hover {
    text-decoration: none;
    color: greenyellow;
}

a:active {
    text-decoration: none;
}
body::-webkit-scrollbar {
    width: 0.7em;
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: #c0392b;
    height: 30px;
}

body::-webkit-scrollbar-track-piece {
    display: none;
}